---
import Layout from '../layouts/Layout.astro';
import ProductsList from '../components/ProductsList.vue';
import Hero from '../components/Hero.astro';
import Banner from '../components/Banner.astro';
import Exhibition from '../components/Exhibition.vue';
import Abount from '../components/Abount.astro';
import Contact from '../components/Contact.vue';
import Trademark from '../components/Trademark.astro';
import Footer from '../components/Footer.astro'; 

const response = await fetch('http://localhost/php-api-ecommerce/product/get_products.php')
const result = await response.json()
const products = result.data ?? []
---

<Layout>
    <main class="flex flex-col items-center">
        <section id="hero" class="bg-[url('../wallpaper.webp')] bg-cover bg-no-repeat h-screen w-screen items-star justify-end flex text-(--color-accent) z-1">
            <Hero />
        </section>

        <section class="z-2 ">
            <Banner />
        </section>     

        <section id="product" class="md:h-screen md:w-screen items-center justify-center flex text-(--color-secondary) p-4 z-1 ">
            <ProductsList client:load product={products} />
        </section>

        <section class="h-16 z-1">
            <Trademark />
        </section>

        <section id="exhibition" class="md:h-screen md:w-screen items-center justify-center flex text-(--color-secondary) z-1" >
            <Exhibition client:load />

        </section>
        
        <section id="about" class="bg-(--color-primary) bg-[url('../background.svg')] bg-cover bg-center bg-no-repeat md:h-screen md:w-screen items-center justify-center p-4 flex text-(--color-accent) z-1">
            <Abount />
        </section>
        
        <section id="contact" class="md:h-screen md:w-screen items-center justify-center md:flex text-(--color-primary) p-4 md:p-16 z-1">
            <Contact client:load />
        </section>
        
        <section class="bg-(--color-primary) w-screen flex items-center justify-center text-(--color-accent)">
            <Footer />
        </section>
    </main>
</Layout>
