---
import Layout from '../layouts/Layout.astro';
import ProductsList from '../components/ProductsList.vue';
import Hero from '../components/Hero.astro';
import Banner from '../components/Banner.astro';

const response = await fetch('http://localhost/php-api-ecommerce/product/get_products.php')
const result = await response.json()
const products = result.data ?? []
---

<Layout>
    <main class="flex flex-col items-center">
        <section id="hero" class="bg-[url('../wallpaper.webp')] bg-center bg-no-repeat h-screen w-screen items-center justify-star flex text-white z-1 -mt-8">
            <Hero />
        </section>
        <Banner />
        <section id="hero" class="bg-cover bg-center bg-no-repeat h-screen w-screen items-center justify-center flex text-[var(--color-secundary)] z-1 ">
            <ProductsList client:load product={products} />
        </section>
    </main>
</Layout>
