---
import Layout from '../layouts/Layout.astro';
import LoginUser from '../components/Login.astro';
---

<Layout>
    <section id="login" class="h-screen w-screen items-center justify-center p-10 z-1 ">
        <LoginUser />
    </section>
</Layout>
