---
import ProductDetail from '../components/ProductDetail.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section id="hero" class="h-screen w-screen items-center justify-center p-10 z-1 ">
        <ProductDetail id="some-id" client:load />
    </section>
</Layout>
  