---
import Layout from '../layouts/Layout.astro';
import ProductsAllList from '../components/ProductsAllList.vue';
import Footer from '../components/Footer.astro';

const response = await fetch('http://localhost/php-api-ecommerce/product/get_products.php')
const result = await response.json()
const products = result.data ?? []
---

<Layout>
    <main class="p-6 flex flex-col items-center">
        <section id="hero" class="h-full w-screen justify-center flex text-(--color-secundary)">
            <ProductsAllList client:load product={products} />
        </section>
        <section class="bg-(--color-primary) w-screen flex items-center justify-center text-(--color-accent)">
            <Footer />
        </section>
    </main>
</Layout>