---
/* No props needed */
---

<div class="flex flex-col-reverse md:flex-row space-x-0 md:space-x-10 border justify-center items-center min-h-[vh] bg-linear-to-br text-(--color-secondary) bg-(--color-accent) p-4 md:p-8 rounded-2xl shadow-xl hover:shadow-2xl">
    <div class="border max-w-md bg-(--color-accent) p-8 rounded-xl shadow-xl text-center">
        <h1 class="gradient-overlay text-3xl text-(--color-primary) mb-4 font-bold">Sobre Nosotros</h1>
        <p class="text-base mb-6">
            Bienvenido a nuestra tienda en línea. Nos apasiona ofrecer productos de calidad y una experiencia de compra excepcional. Nuestro equipo está dedicado a ayudarte a encontrar lo que necesitas y brindarte el mejor servicio posible.
        </p>
        <ul class="space-y-3 text-left">
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span >✔️</span> Productos seleccionados cuidadosamente
            </li>
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span>✔️</span> Atención al cliente personalizada
            </li>
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span>✔️</span> Envíos rápidos y seguros
            </li>
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span>✔️</span> Garantía de satisfacción
            </li>
        </ul>
    </div>
    
    <div class="max-w-145 max-h-115 justify-items-center rounded-2xl overflow-hidden">
        <div class="rounded-full bg-[radial-gradient(circle,rgba(1,1,1,0.4)_50%,rgba(255,255,255,0)_80%)]">
            <img src="../astronaut.webp" alt="Sobre Nosotros" class="w-full h-full object-cover" />
        </div>
    </div>
</div>
