---
/* No props needed */
---

<section class="flex border justify-center items-center min-h-[60vh] bg-gradient-to-br text-[var(--color-secondary)] bg-[var(--color-accent)]  p-8 rounded-2xl shadow-lg">
    <div class="border max-w-md bg-[var(--color-accent)] p-8 rounded-xl shadow-md text-center">
        <h1 class="text-3xl text-[var(--color-primary)] mb-4 font-bold">Sobre Nosotros</h1>
        <p class="text-base mb-6">
            Bienvenido a nuestra tienda en línea. Nos apasiona ofrecer productos de calidad y una experiencia de compra excepcional. Nuestro equipo está dedicado a ayudarte a encontrar lo que necesitas y brindarte el mejor servicio posible.
        </p>
        <ul class="space-y-3 text-left">
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span >✔️</span> Productos seleccionados cuidadosamente
            </li>
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span>✔️</span> Atención al cliente personalizada
            </li>
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span>✔️</span> Envíos rápidos y seguros
            </li>
            <li class="flex items-center gap-2 text-slate-600 text-base">
                <span>✔️</span> Garantía de satisfacción
            </li>
        </ul>
    </div>
</section>
