---
import Card from '../components/Card.astro';
---

<div class="grid grid-cols-4 grid-flow-col-densemd:flex-row items-center justify-items-center p-1 md:p-6 rounded-4xl shadow-2xl bg-[var(--color-secondary)] -mt-11 z-2 dark:text-gray-200">
     <Card title="Services" img="../image1.webp" href="" />
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
</div>