---
import Card from '../components/Card.astro';
---

<div class="grid grid-cols-1 md:grid-cols-3 md:grid-flow-col-dense space-y-2 md:space-y-0 border shadow-xl  items-center justify-items-center p-1 md:p-2 rounded-2xl hover:shadow-2xl bg-(--color-accent) -mt-4 md:-mt-20">
    <Card title="Productos" text="440+" href="/" />
    <Card title="ISOS" text="55+" href="/" />
    <Card title="Desarrollos" text="100+" href="/" />
</div>