---
import Header from '../components/Header.vue'
import Cart from '../components/Cart.vue'
import '../styles/global.css'
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Mi Tienda</title>
    </head>
    <body class="">|
        <Header client:load />
        <Cart client:load />
        <slot />
    </body>
</html>

